/* ========================= Container ========================= */
.preloaderContainer {
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ========================= CSS loader ========================= */
.cssload-loader {
    display: block;
    margin:0 auto;
    width: 29px;
    height: 29px;
    top:50%;
    position: relative;
    border: 4px solid rgb(255,0,0);
    animation: cssload-loader 0.9s infinite ease;
    -o-animation: cssload-loader 0.9s infinite ease;
    -ms-animation: cssload-loader 0.9s infinite ease;
    -webkit-animation: cssload-loader 0.9s infinite ease;
    -moz-animation: cssload-loader 0.9s infinite ease;
}
.cssload-loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: rgb(255,0,0);
    animation: cssload-loader-inner 0.9s infinite ease-in;
    -o-animation: cssload-loader-inner 0.9s infinite ease-in;
    -ms-animation: cssload-loader-inner 0.9s infinite ease-in;
    -webkit-animation: cssload-loader-inner 0.9s infinite ease-in;
    -moz-animation: cssload-loader-inner 0.9s infinite ease-in;
}
@keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-o-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-ms-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-moz-keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}